<footer class="text-center text-lg-start bg-white text-muted">
  
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-1 col-lg-4 col-xl-2 mx-auto mb-4">
            <!-- Content -->
            <h6 class="fw-bold mb-4">OrgName</h6>
            <p>
              para of info
            </p>
          </div>
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <h6 class="fw-bold mb-4">
              page links
            </h6>
            <p >
              <a href="#" class="text-muted font-deco" style="text-decoration: none;">Pricing</a>
            </p>
            <p>
              <a href="#" class="text-muted font-deco" style="text-decoration: none;">Settings</a>
            </p>
          </div>
          <div class="col-md-3 col-lg-3 col-xl-2 mx-auto mb-md-0 mb-4">
            <h6 class="fw-bold mb-4">Contact us</h6>
            <p>180 Ang Mo Kio Ave 8, Singapore 569830</p>
            <p>test@example.com</p>
            <p>9912629</p>
          </div>
        </div>
      </div>
    </section>
</footer>