<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <div class="collapse navbar-collapse justify-content-center" >
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/quiz">Quiz</a>
        </li>
        {% if not current_user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link active" href="/login">Login</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link active" href="/logout">Logout</a>
        </li>
        {% endif %}
        {% if not current_user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link active" href="/register">Register</a>
        </li>
        {% endif %}
        <li class="nav-item">
          <a class="nav-link active" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="#">Link</a>
        </li>
      </ul>
    </div>
  </div>
</nav>