{% extends "base.html" %} {% block title %}SaveThePlanet - BMI Calculator{% endblock %} {% block content %} 
{% from "includes/_formHelper.html" import render_field %}
<header>
    <hr>
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="text-center my-5">
                <h1 class="display-5 fw-bolder mb-2">BMI Calculator</h1>
                <p class="lead mb-4">Check your BMI(Body Mass Index) to see if your current weight is healthy for you!</p>
            </div>
        </div>
    </div>
    <hr>
</header>


    <div class=" pb-5 text-center lead" >
        <form method="POST" class="form-group p-2">
        <input style="width: 300px;" type="text" id="weight" placeholder="Please input your weight in Kg">
        <input style="width: 300px;" type="text" id="height" placeholder="Please input your height in cm">
        </form>
        
        <div class="form-group p-2 "><p id="result"></p></div>
        <button style="width: 200px;" onclick="bmiCal()">Calculate</button>
    </div>
    

<div style="padding-left: 15%;padding-right: 15%;">
    <img src="/static/img/bmiTable.png" class="pb-4">
    <p style="font-weight: bold;">Note:</p>
    <p>BMI should not be used to calculate health risks in pregnant women, people with a muscular build and the elderly. These BMI values also do not apply to youths below 18 years old.</p> 
    <hr>
    <p style="font-weight: bold;">Being overweight (BMI ≥ 23kg/m2) puts you at risk of many heart-related problems:</p>
    <ul>
        <li>High blood pressure</li>
        <li>Diabetes</li>
        <li>High blood cholesterol</li>
    </ul>
    <p>An obese person (BMI ≥ 30kg/m2) also has a three times higher risk of heart attack than someone within the healthy weight range</p>

</div>

<!-- script to calculate BMI -->
<script>
    function bmiCal() {
        var weight = document.getElementById('weight').value;
        var height = document.getElementById('height').value;
        var height = height/100 ;
        var bmi = weight/(height**2);
        var bmi = bmi.toFixed(1);
        
        
        document.getElementById('result').innerHTML = 'your BMI is '+bmi+'kg/m&#178';
        


        return false;
    }

</script>

{%endblock%}