{% extends "base.html" %}
{% block title %}Profile{% endblock %}
{% block content %}
{% block style %}
<style>
.card {
    border: 2px solid #000000;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 0 auto 20px; /* Center-align and add margin to separate each card */
    max-width: 80%; /* Set maximum width to 80% */
    margin-top: 50px;
    display: flex; /* Add flex display to align items */
    flex-direction: column; /* Stack children vertically */
    justify-content: center; /* Vertically center-align the content */
    text-align: center; /* Center-align text horizontally */
    padding: 20px; /* Add some padding for spacing */
    height: 400px;
}

/* Style for card title */
.card-title {
    font-size: 2rem; /* Make the title smaller */
    font-weight: bold;
    margin-bottom: 20px;
}

/* Style for card text */
.card-text {
    font-size: 1rem; /* Make the text smaller */
    margin-top: 10px;
}

.card-body {
    display: flex; /* Use flex display for card-body */
    flex-direction: column; /* Stack children vertically */
    justify-content: flex-start; /* Start from the top of the card-body */
    align-items: flex-start; /* Align items to the left within the card-body */
    flex: 1; /* Allow card-body to expand and take available space */
    margin-left: 200px;
    padding-top: 0;
    border: 1px solid #000000;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 450px;
}

/* Display only one card per row */
.col-lg-4.col-md-6.mb-4 {
    flex: 0 0 100%;
    max-width: 100%;
    max-height: 100%;
}
.col-md-8 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex: 1;
}

img{
    display: flex;
    width: 500px !important;
    height: 300px;
}

</style>
{% endblock %}
<div class="container">
    <div class="row">
        {% for food_item in food_items %}
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="{{ url_for('static', filename='img/' + food_item.image) }}" class="card-img-top" alt="Food Image">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{ food_item.title }}</h5>
                            <p class="card-text">Cooking Time: {{ food_item.cooking_time }} minutes</p>
                            <p class="card-text">Ingredient: {{ food_item.ingredients.ingredient_name }}</p>
                            <p class="card-text">Category: {{ food_item.categories.category }}</p>

                            <a href="/food/{{food_item.id}}">Learn More</a>
                            {% if favourite_list != None %}
                            {% if food_item.id in favourite_list %}
                            <a href="/favouriteHandler/{{food_item.id}}">Unfavourite</a>

                            {% else %}
                            <a href="/favouriteHandler/{{food_item.id}}">Favourite</a>
                            {% endif %}
                            {% else %}
                            <a href="/login">Please Login to Favourite</a>
                            {% endif %}

                            <p class="card-text">Time of Day: {{ food_item.times.time }}</p>
                            <p class="card-text">Dietary Restrictions: {{ food_item.restrictions.restriction }}</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
