{% extends "base.html" %} {% block title %}SaveThePlanet - Home{% endblock %} {% block content %} 
<header>
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="text-center my-5">
                    <h1 class="display-5 fw-bolder mb-2">placeholder</h1>
                    <p class="lead mb-4">bs description</p>
                </div>
            </div>
        </div>
</header>
<!-- Features section-->
<section class="pb-5 border-bottom" id="features">
    <div class="container px-2 my-5">
        <div class="row">
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-toggles2"></i></div>
                <h2 class="h4 fw-bolder">bmi Calculator</h2>
                <p>description paragraph</p>
                <a class="text-decoration-none" href="/bmi">
                    link to page
                    <i class="bi bi-arrow-right"></i>
                </a>
            </div>
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-toggles2"></i></div>
                <h2 class="h4 fw-bolder">Title</h2>
                <p>description paragraph</p>
                <a class="text-decoration-none" href="#!">
                    link to page
                    <i class="bi bi-arrow-right"></i>
                </a>
            </div>
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-toggles2"></i></div>
                <h2 class="h4 fw-bolder">Title</h2>
                <p>description paragraph</p>
                <a class="text-decoration-none" href="#!">
                    link to page
                    <i class="bi bi-arrow-right"></i>
                </a>
            </div>
            
        </div>
    </div>
</section>
{%endblock%}