{% extends "base.html" %} {% block title %}NutriGuide - Quiz{% endblock %} {% block content %} 
{% from "includes/_formHelper.html" import render_field %}

<header>
    <hr>
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="text-center my-5">
                <h1 class="display-5 fw-bolder mb-2">Quiz???</h1>
                <p class="lead mb-4">Select what meals suit your lifestyle based on our questions</p>
            </div>
        </div>
    </div>
    <hr>
</header>

<form method="POST" action="" style="margin:auto;width: 60%;" class="pb-5">
    <div class="form-group pb-4">
        {{ render_field(form.time, class="form-control") }}
    </div>
    <div class="form-group pb-4">
        {{ render_field(form.diet, class="form-control") }}
    </div>
    <div class="form-group pb-4">
        {{ render_field(form.cuisine, class="form-control") }}
    </div>
    <div class="form-group pb-4">
        {{ render_field(form.category, class="form-control") }}
    </div>
    <input type="submit" value="Submit" class="btn btn-primary"/>
</form>
{%endblock%}